<!DOCTYPE HTML>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>Outra</title>
</head>

<body>
  <h1>Outra página</h1>
  <a href="pato">página do pato</a>
</body>

</html>